@import "src/scss/material";

:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.view-selector {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

.add-board {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: $success !important;
}

.board-list {
  padding: 2em;
}
