@import "~src/scss/material";

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;

  mat-form-field, button, a, mat-checkbox {
    width: 100%;
  }

  button {
    margin: 1em 0;
  }

  .validation-steps {
    width: 100%;
    color: $grey;
    list-style: none;
    padding: 0;
    li {
      .checkmark {
        visibility: hidden;
      }
      &.success {
        .checkmark {
          visibility: visible;
        }
        color: $success;
      }
    }
  }
}
