.task-sidebar {
  width: 500px;
  padding: 2em;

  h1 {
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__assignee-row {
    display: flex;
    align-items: center;
  }
}
