<nav class="breadcrumbs">
  <a routerLink="../../../">Boards</a> /
  <a routerLink="../../../{{ (task$ | async)?.boardId }}">{{ boardName$ | async }} </a> /
  <span class="breadcrumbs__current">{{ (task$ | async)?.title }}</span>
</nav>
<h1>{{ (task$ | async)?.title }}</h1>

<main class="task-info">
  <div class="task-info__main">
    <div class="task-info__description">
      {{ (task$ | async)?.body || 'Here is no description...'}}
    </div>
  </div>
  <div class="task-info__right">
    <h2 class="header">Details</h2>
    <section>
      <p>Created at: <i>{{ (task$ | async)?.createdAt | date }}</i></p>
      <p>Updated at: <i>{{ (task$ | async)?.updatedAt | date }}</i></p>

      <div class="task-info__assignee-row">
        Assignee:
        <div class="task-info__assignee">
          <app-selector
            [ngModel]="(assignee$ | async)?._id"
            [options]="(assignUserOptions$ | async) || []"
            [fallbackText]="'Unassigned'"
            [fallbackImg]="'/assets/icons/anonymous.svg'"
            (ngModelChange)="assignTask($event)"
          ></app-selector>
        </div>
      </div>
    </section>
  </div>
</main>
