<div class="notifications">
  <span *ngIf="showNotificationsCount$ | async" class="notifications__count">
    {{ notificationsCount$ | async }}
  </span>
  <button
    mat-icon-button
    aria-label="Notifications"
    (click)="toggle()"
    class="notifications__toggle"
  >
    <mat-icon>notifications</mat-icon>
  </button>
  <div class="notifications__list" *ngIf="isOpened$ | async">
    <div *ngFor="let notification of notifications$ | async" class="notification" [class.notification--unread]="!notification.isRead">
      <div class="notification__icon">
        <mat-icon>error_outline</mat-icon>
      </div>
      <div class="notification__text">
        <b>{{ notification.createdAt | date: 'hh:mm dd.MM' }}</b> {{ notification.text }}
      </div>
    </div>
  </div>
</div>
