@import "src/scss/material";

$img-size: 100px;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 250px;
  background: $lightblue;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex: 1;
  width: 1200px;
  align-self: center;

  .aside {
    flex-basis: 30%;
    position: relative;
    display: flex;
    flex-direction: column;

    &__user-img {
      position: absolute;
      background-position: center;
      background-size: cover;
      width: $img-size;
      height: $img-size;
      top:-$img-size;
      background-repeat: no-repeat;
      border-radius: 50%;
    }

    &__name {
      font-size: 1.5rem;
      margin: 1rem 0 1.5rem 0;
    }

    &__manage-account {
      background: $pale-btn;
      margin-bottom: 1.5rem;
    }

    .about {
      border: $border 1px solid;
      padding: 1.25rem;

      &__title {
        font-size: 1.25em;
      }

      &__title:not(:first-child) {
        margin-top: 1.5rem;
      }

      &__item {
        display: flex;
        align-items: center;
        margin: 1em 0;

        mat-icon {
          margin-right: 0.5em;
        }
      }
    }
  }

  .main {
    flex: 1;
    margin-left: 5rem;

    &__item {
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 1.25rem;
    }

    &__subtitle {
      font-size: 0.75rem;
      color: $link-focus;
    }

    .issues-list {
      padding: 0 0 1rem .25rem;
      border: $border 1px solid;
      border-radius: 5px;

      ul {
        li {
          padding: 1em .25em;
          &:hover {
            background: $pale-btn;
            cursor: pointer;
          }
        }
      }
    }

    .work-places {
      background: $pale-btn;
      padding: .25rem 1rem;
      margin-top: 1rem;
      cursor: pointer;

      &__item {
        box-shadow: rgb(9 30 66 / 25%) 0 1px 1px,
                    rgb(9 30 66 / 31%) 0 0 1px 0;
        padding: 1rem;
        margin: 1.25rem 0;
        background: white;
      }

      &__item:hover {
        box-shadow: rgb(9 30 66 / 25%) 0 1px 1px,
                    rgb(9 30 66 / 31%) 3px 2px 2px 0;
      }
    }
  }
}
