<form (keydown.enter)="$event.preventDefault()" class="invitation">
  <mat-form-field appearance="outline" class="invitation__email">
    <mat-label>Send invitation</mat-label>
    <input type="text"
           placeholder="User email..."
           aria-label="Number"
           matInput
           [matAutocomplete]="auto"
           [formControl]="userSearchControl"
           (keyup.enter)="$event.preventDefault()"
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option [value]="user.email" *ngFor="let user of inviteUsersList">
        <div class="invite-item">
          <img [src]="getUserImgSrc(user)" height="40" width="40" alt="User image"/>
          <span>{{ user.email }}</span>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Role</mat-label>
    <mat-select>
      <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-button
    mat-stroked-button
    color="primary"
    type="button"
    [disabled]="isInviteBtnDisabled"
    (click)="inviteUsers()"
  >
    Invite user
  </button>
</form>


<p class="header">Team</p>

<table mat-table [dataSource]="usersSource" class="users-table">
  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element" class="email-col">
      <div class="user-img" [style.background-image]="getUserImgStyle(element)"></div>
      {{element.email}}
    </td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matTooltip]="'auth.Info' | transloco">
        <mat-icon>info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['email', 'role', 'status', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['email', 'role', 'status', 'actions'];"></tr>
</table>
