<div class="columns-list" cdkDropListGroup>
  <div *ngFor="let col of columns$ | async" class="column">
    <p class="column__title">{{ col.name }}</p>
    <div
      class="column__tasks"
      cdkDropList
      [cdkDropListData]="col.tasks"
      (cdkDropListDropped)="onDropTask($event, col._id)"
    >
      <mat-card
        *ngFor="let task of col.tasks"
        cdkDrag
        (cdkDragStarted)="onDragToggle(true)"
        (cdkDragReleased)="onDragToggle(false)"
        (click)="selectTask(task._id);"
      >
        <div class="task__description">
          <div class="task__title">
            {{ task.title }}
          </div>
          <img
            *ngIf="(getTaskAssignee$(task) | async) as assignee"
            class="task__user-img"
            [matTooltip]="assignee.email"
            [src]="assignee.img || '/assets/icons/anonymous.svg'"
            width="30"
            height="30"
          />
        </div>
        <div class="task__number">
          <a [routerLink]="task | taskRoute">{{ task._id }}</a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
