<mat-card *ngFor="let board of boards" class="board">
  <mat-card-header>
    <mat-card-title>{{ board.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="board__image"></div>
    <div class="board__description">{{ board.description }}</div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button mat-stroked-button color="primary" [routerLink]="board | boardRoute">
      {{ 'auth.Join' | transloco }}
    </a>

    <span class="flex-spacer"></span>

    <app-board-favourite-btn [board]="board"></app-board-favourite-btn>
  </mat-card-actions>
</mat-card>
