@import "~src/scss/material";

:host {
  height: 100vh;
  background: beige;
  display: flex;
  flex-direction: column;
}

.actions {
  position: fixed;
  bottom: 50px;
  right: 50px;

  .add-task {
    background-color: $success !important;
  }
}

mat-sidenav-container {
  height: 100%;
}
