<form [formGroup]="signUpForm">
  <h1 transloco="guest.SignUp"></h1>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <mat-icon matSuffix>alternate_email</mat-icon>
    <input matInput type="text" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label transloco="guest.Password">Password</mat-label>
    <mat-icon matSuffix>password</mat-icon>
    <input matInput type="password" formControlName="password">
  </mat-form-field>

  <mat-form-field>
    <mat-label transloco="guest.PasswordAgain"></mat-label>
    <mat-icon matSuffix>password</mat-icon>
    <input matInput type="password" formControlName="passwordAgain">
  </mat-form-field>

  <mat-checkbox formControlName="termsOfService">
    {{ 'guest.textTermsAgreement.Iam' | transloco}}
    <a routerLink="">{{ 'guest.textTermsAgreement.TermsOfService' | transloco }}</a>
  </mat-checkbox>

  <ul class="validation-steps">
    <li *ngFor="let step of steps" [class.success]="step.isSuccess$ | async">
      <span class="checkmark">✓</span> {{ step.title | transloco }}
    </li>
  </ul>

  <button
    transloco="guest.SignUp"
    mat-raised-button
    color="primary"
    [disabled]="!(areStepsPassed$ | async)"
    (click)="signUp()"
  ></button>
  <div class="or" transloco="guest.OR"></div>
  <a routerLink="../sign-in">
    <button mat-raised-button color="primary" transloco="guest.SignIn"></button>
  </a>
</form>
