<form [formGroup]="signInForm">
  <h1 transloco="guest.SignIn"></h1>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <mat-icon matSuffix>alternate_email</mat-icon>
    <input matInput type="text" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label transloco="guest.Password"></mat-label>
    <mat-icon matSuffix>password</mat-icon>
    <input matInput type="password" formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="signIn()" transloco="guest.SignIn"></button>
  <span>
    {{ 'guest.textOrSignUp.or' | transloco }}
    <a routerLink="../sign-up">{{ 'guest.textOrSignUp.SignUp' | transloco }}</a>
    {{ 'guest.textOrSignUp.ifYou' | transloco }}
  </span>
</form>
