<app-user-card
  *ngIf="!isActive"
  [email]="selectedUser?.email"
  [img]="selectedUser?.img"
  (dblclick)="toggleActivity(true)"
  noUserText="Unassigned"
></app-user-card>

<div class="invitation__email" *ngIf="isActive">
  <mat-form-field appearance="outline">
    <div class="user-input">
      <img matSuffix [src]="imgSrc" width="30"/>
      <input type="text"
             autocomplete="off"
             placeholder="User email..."
             aria-label="Number"
             matInput
             #userSearch
             (keyup.enter)="$event.preventDefault()"
             [formControl]="searchControl"
      >
      <button matSuffix mat-icon-button (click)="setSelectedUser(undefined)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-form-field>
  <ul class="users-list">
    <li *ngFor="let user of usersOptions">
      <app-user-card [email]="user.email" [img]="user.img" (click)="setSelectedUser(user)"></app-user-card>
    </li>
  </ul>
</div>

