<app-user-card
  *ngIf="!isActive"
  [email]="selectedUser?.email"
  [img]="selectedUser?.img"
  (dblclick)="toggleActivity(true)"
  noUserText="Unassigned"
></app-user-card>

<mat-form-field appearance="outline" class="invitation__email" *ngIf="isActive">
  <div class="user-input">
    <img matSuffix [src]="imgSrc" width="20"/>
    <input type="text"
           placeholder="User email..."
           aria-label="Number"
           matInput
           #userSearch
           (keyup.enter)="$event.preventDefault()"
           (blur)="toggleActivity(false)"
    >
  </div>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option [value]="null" *ngFor="let user of []">
      <app-user-card></app-user-card>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
