@use '~@angular/material' as mat;
@include mat.core();

$uranus-pm-front-primary: mat.define-palette(mat.$blue-palette);
$uranus-pm-front-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$uranus-pm-front-warn: mat.define-palette(mat.$red-palette);

$primary: mat.get-color-from-palette($uranus-pm-front-primary, A100);

$warning: #ecdc13;

$error: mat.get-color-from-palette(mat.$red-palette, A400);
$error-dark: mat.get-color-from-palette(mat.$red-palette, 900);
$error-light: mat.get-color-from-palette(mat.$red-palette, A100);

$grey: mat.get-color-from-palette(mat.$grey-palette, A700);
$success: mat.get-color-from-palette(mat.$green-palette, 500);

$column-background: #e4f6ff;
$border: #d2d0d0;
$border-row-hover: aliceblue;
$link: rgb(107, 119, 140);
$link-focus: rgb(137, 147, 164);
$grey: grey;
$notifications-count: #d06767;

$uranus-pm-front-theme: mat.define-light-theme((
  color: (
    primary: $uranus-pm-front-primary,
    accent: $uranus-pm-front-accent,
    warn: $uranus-pm-front-warn,
  )
));
@include mat.all-component-themes($uranus-pm-front-theme);
