<div class="view-selector">
  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="view" (change)="changeView($event)">
    <mat-button-toggle value="grid" aria-label="Grid view" [matTooltip]="'auth.GridView' | transloco">
      <mat-icon>grid_view</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="list" aria-label="List view" [matTooltip]="'auth.ListView' | transloco">
      <mat-icon>list</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="board-list">
  <app-boards-grid-view *ngIf="view === 'grid'" [boards]="(boards$ | async) || []"></app-boards-grid-view>

  <app-boards-list-view *ngIf="view === 'list'" [boards]="(boards$ | async) || []"></app-boards-list-view>
</div>

<button
  class="add-board"
  mat-fab
  aria-label="Add a board"
  [matTooltip]="'auth.AddBoard' | transloco"
  matTooltipPosition="left"
  (click)="createBoard()"
>
  <mat-icon>add</mat-icon>
</button>
